


.category-page{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 1rem;
}

.category-page-link{
    color: black;
    text-decoration: none;
    font-weight: bold;
    padding: 1rem;
    background-color: rgb(128, 128, 128,0.2);
    border-radius: 0.5rem;

}