:root {
    --primay-color: white;
    --seconday-color: #fe624c;
}

.home-filter {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.home-filter-button a {
    padding: 0.5rem 1rem;
    border-radius: 0.7rem;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    display: block;
    
}

.selected-button {
    background-color: var(--seconday-color);
    color: white;
}

.not-selected-button {
    background-color: rgb(128, 128, 128, 0.1);
    color: black;
}

.home-filter-button {
  display: flex;
  gap: 0.5rem;
  overflow-x: auto;
}

.home-filter-button a {
  flex: 1; /* 💡 tous les boutons prennent la même largeur */
  text-align: center;
  padding: 0.6rem 1rem;
  border-radius: 1rem;
  white-space: nowrap;
  text-decoration: none;
}

.home-filter-top {
    display: flex;
    justify-content: space-between;
}

.go-to-category{
    color: gray;
    text-decoration: none;
}