:root {
    --primay-color: white;
    --seconday-color: #fe624c;
}

.link{
    text-decoration: none;
    color: black;
}

* {
    padding: 0;
    margin: 0;
    font-family: "Inter", sans-serif;
}

.desktop {
    display: none;
}

body {
    background-color: var(--primay-color);
}

.main{
    gap: 1rem;
    margin: 0 1rem;
}


.product-flex {
  display: flex;
  justify-content: space-between; /* 1er à gauche, dernier à droite */
  flex-wrap: wrap;
}

.nav-link{
    text-decoration: none;
    color: black;
}

.product-card {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 10rem;
    margin-bottom: 1rem;
}

.product-card img {
    display: block;
    width: 100%;
    background-color: white;
    border-radius: 0.9rem;
}

.product-card-img {
    padding: 0.3rem;
    background-color: rgb(128, 128, 128, 0.1);
    border-radius: 1rem;
}

.product-card:hover {
    box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
}

.product-card-bottom {
    display: flex;
    flex-direction: column;
}

.product-card h2 {
    font-size: 1.1rem;
}

.product-card h1 {
    font-size: 1.3rem;
}